* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}    

.logo {
    font-size: 40px;
    color: #39000d;
}

.t-us {
    color: #39000d;
}

header {
    padding-top: 5px;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
//  background: rgba(3,3,3,0.1);
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

header ul a .about:hover {
    //font-size: 17px;
    transition: 0.6s ease-in;
    color: #39000d;
}

header ul a:hover {
    transition: 0.6s ease-in;
    color: #39000d;
}

.nav-links ul{
    display: flex;
}

.nav-links li {
    list-style-type: none;
    padding: 10px;
}

main {
    height: 550px;
    padding: 20px;
    display: flex;
}

.top2 article {
    margin-bottom: 40px;
    margin-right: 30px;
}

.skull {
    width: 65em;
    padding-right: 20px;
}

.page-top {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    align-items: center;
}

.work-hard {
    margin-right: 100px;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #39000d;
}

header .contact {
   margin-right: 20px;
   padding: 15px;
}

.side-text {
    margin-left: 20px;
    justify-content: center;
}

.page-top p {
    width: 10em;
    font-family: cursive;
    text-justify: auto;
}

.user-items {
    display: flex;
    margin-right: 10px;
}

.youser {
    display: flex;
    padding: 10px;
}

.youser li {
    list-style: none;
}

.youser li a {
    color: #39000d;
    padding: 10px;
}